a {
    text-decoration: none;
    color: blue;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

table input {
    width: 99%;
    border: none;
    outline:none;
}

th, td {
    padding: 5px 0;
    text-align: center;
}