header .elements__button_link {
  background-color: #212121;
  color: #E8D58C;
  padding: 10px 15px;
  border-radius: 25px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  background-color: transparent;
  color: #212121;
  text-decoration: none;
  font-weight: 600;
}

li {
  list-style: none;
}

img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

textarea {
  color: #E8D58C;
  background: #484746;
  border: 2px solid #212121;
  border-radius: 25px;
  padding: 15px 20px;
  letter-spacing: 1px;
  min-width: 200px;
  min-height: 64px;
  max-width: 300px;
  max-height: 200px;
  outline-color: #E8D58C;
}

html, body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #212121;
  background-color: #E5E3DA;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #E8D58C;
}

header .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .elements__logo {
  padding: 10px 0;
}

header .elements_menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .elements_menu__list_item {
  margin: 0 20px;
}

.close {
  position: absolute;
  background-color: black;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: 10px;
  right: 15px;
  -webkit-transition: 5s;
  transition: 5s;
}

input[type=submit], .customize_input, button {
  margin: 5px auto 0 auto;
  padding: 10px 15px;
  background-color: #212121;
  border-color: #484746;
  border-radius: 25px;
  color: #E8D58C;
  cursor: pointer;
}

input[type=file]::file-selector-button {
  color: #E8D58C;
  border-radius: 25px;
  background-color: inherit;
  border: none;
}

#avatar-preview {
  width: 100px;
  height: 125px;
  margin: 0 auto;
}

#delete_avatar_form, #change_avatar_form {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-transform: translate(calc(50vw - 50%), calc(50vh - 50%));
          transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

.confirmation {
  display: none;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 35px;
  border-radius: 25px;
  background-color: #E8D58C;
}

.profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.profile__main {
  margin-right: 45px;
}

.profile__main_avatar {
  margin-bottom: 12px;
  position: relative;
}

.profile__main_avatar_img {
  width: 265px;
  height: 309px;
  -webkit-box-shadow: 0px 0px 5px 0px #212121;
          box-shadow: 0px 0px 5px 0px #212121;
  -webkit-transition: .5s;
  transition: .5s;
}

.profile__main_avatar_options {
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 25px;
  -webkit-transition: .5s;
  transition: .5s;
}

.profile__main_avatar_options_button {
  display: block;
}

.profile__main_avatar:hover > .profile__main_avatar_options {
  opacity: 1;
}

.profile__main_avatar:hover > .profile__main_avatar_img {
  -webkit-filter: blur(7px);
          filter: blur(7px);
}

.profile__main_avatar:hover > .profile__main_avatar_img ~ #delete_avatar_form, .profile__main_avatar:hover > .profile__main_avatar_img #change_avatar_form {
  display: block;
}

.profile__main_name {
  text-align: center;
}

.profile__additional_list_item {
  margin: 10px 0;
}

.profile__additional_list_item_sublist_item {
  margin-left: 20px;
}

.profile__additional_list_item:first-child, .profile__additional_list_item:last-child {
  margin: 30px 0;
}

.send_message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send_message__header, .send_message__form {
  margin: 0 auto;
}

.send_message__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */