{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'journal/styles.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<div id="blur"></div>

<div id="pop-up-messages">
</div>

{% block menu %}
<header>
    <div class="elements">
        <div class="elements__logo">
            <a href="{% url 'main' %}">
                <img class="elements__logo_img" src="{% static 'journal/images/Лого.png' %}" alt="Electro journal">
            </a>
        </div>
        <div class="elements_menu">
            <ul class="elements_menu__list">
                <li id="show-message" style="cursor: pointer"><b>Check</b></li>
                <li class="elements_menu__list_item elements-menu__list_item1">
                    <a class="elements_menu__list_item_link" href="{% url 'own_profile' %}">Мій профіль</a>
                </li>
                <li class="elements_menu__list_item elements-menu__list_item2">
                    <a class="elements_menu__list_item_link" href="{% url 'messages' %}">Повідомлення</a>
                </li>
                {% if user.role == "Teacher" %}
                    <li class="elements_menu__list_item elements-menu__list_item3">
                        <a class="elements_menu__list_item_link" href="{% url 'teacher_journal_list' user.teacher.pk %}">Журнали</a>
                    </li>
                {% elif user.role == "Student" %}                    
                    <li class="elements_menu__list_item elements-menu__list_item3">
                        <a class="elements_menu__list_item_link" href="{% url 'student_journal' user.student.pk %}">Журнали</a>
                    </li>
                {% endif %}
                <li class="elements_menu__list_item elements-menu__list_item4">
                    <a class="elements_menu__list_item_link" href="{% url 'find_person' %}">Пошук</a>
                </li>
            </ul>
        </div>
        <div class="elements__button">
            {% if user.is_authenticated %}
                <a class="elements__button_link" href="{% url 'logout' %}">Вихід</a>
            {% else %}
                <a class="elements__button_link" href="{% url 'login' %}">Вхід</a>
            {% endif %}
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
{% endblock %}

<script>
    let messagesPk = 0

    function showMessage(message, type = 'success', timeOut = 3000) {
        $('#pop-up-messages').show();
        let messagePk = messagesPk + 1;
        messagesPk = messagePk;
        $('#pop-up-messages').append(`<div id="pop-up-${messagePk}" class="pop-up-message ${type}">\
                                    <div class="close"></div>\
                                    <p class="pop-up-message__text">${message}</p>\
                                    </div>`);
        setTimeout(function() {
            $(`#pop-up-${messagePk}`).slideUp('fast');
        }, timeOut)
        setTimeout(function() {
            $(`#pop-up-${messagePk}`).remove();
        }, timeOut+100)
    }

    $('.close').click(function() {
        $(this).parent().fadeOut('fast');
        $("#blur").fadeOut('fast');
    });

    $("#pop-up-messages").on("click", '.close', function() {
        var el = $(this).parent();
        el.slideUp('fast');
        setTimeout(function() {el.remove();}, 600)
    });

    
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function demo() {
        for (let i = 0; i < 50; i++) {
            showMessage('Fuck You!!!', 'error');
            await sleep(100);
        }
    }
    $("#show-message").click(function() {
        demo()
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>