{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'journal/styles.css' %}" rel="stylesheet" />
    {% block head %}
    {% endblock %}
</head>
<body style="text-align: center; padding-top: 50px;">

<div id="pop-up-message">
    <div class="close"></div>
    <p class="pop-up-message__text">Some text</p>
</div>

<button id="show-message">sdd</button>

{% block menu %}
| <a type="button" href="{% url 'register' %}">Реєстрація</a> |
<a type="button" href="{% url 'login' %}">Вхід</a> |
{% if user.is_authenticated %}
<a type="button" href="{% url 'logout' %}">Вихід</a> |
<a type="button" href="{% url 'own_profile' %}">Мій профіль</a> |
<a type="button" href="{% url 'messages' %}">Повідомлення</a> |
    {% if user.role == "Teacher" %}
        <a type="button" href="{% url 'teacher_journal_list' user.teacher.pk %}">Журнали</a> |
    {% elif user.role == "Student" %}
        <a type="button" href="{% url 'student_journal' user.student.pk %}">Журнали</a> |
    {% endif %}
{% endif %}
{% if user.is_admin %}
<a type="button" href="{% url 'admin_settings' %}">Налаштування</a>
{% endif %}
<a type="button" href="#">Пошук людей</a> |
<hr>
{% endblock %}

{% block main %}

{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    function showMessage(message, type='success', timeOut=3000) {
        $('#pop-up-message .pop-up-message__text').html(message);
        if (type === 'error') {
            $('#pop-up-message').addClass('error');
            setTimeout(function () {
                $('#pop-up-message').removeClass('error');
            }, timeOut+100);
        }
        $('#pop-up-message').fadeIn('fast');
        setTimeout(function () {
            $('#pop-up-message').fadeOut('fast');
        }, timeOut);
    }

    $(".close").click(function() {
        $(this).parent().fadeOut('fast');
    });
    $("#show-message").click(function() {
        showMessage('Fuck You');
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>