{% extends 'journal/base.html' %}
{% load date_tags %}

{% block main %}

change your profile here, {{ user.name }}
<hr>

<form id="change-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for f in form %}
        {% if f.id_for_label == "id_avatar" %}
        <p><img src='{{ user.avatar.url }}' width=50></p>
        {% endif %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Submit</button>
</form>

{% endblock %}

{% block script %}
<script>
    document.querySelector('#id_email').value = '{{ user.email }}';
    document.querySelector('#id_name').value = '{{ user.name }}';
    document.querySelector('#id_surname').value = '{{ user.surname }}';
    document.querySelector('#id_patronymic').value = '{{ user.patronymic }}';
    document.querySelector('#id_phone_number').value = '{{ user.phone_number }}';
    document.querySelector('#id_date_of_birth').value = '{{ user.date_of_birth |date_form_for_input }}';
</script>
{% endblock %}