{% extends 'journal/base.html' %}

{% block main %}

Корегуй свій профіль тут, {{ user.name }}
<hr>

<form class="change-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if user.avatar %}
        <p>Попередній перегляд: <img src="{{user.avatar.url}}" id="preview-image" width="300" height="200"/></p>
    {% else %}
        <p>Попередній перегляд: <img src="" id="preview-image" alt="Треба загрузити фото" width="300" height="200"/></p>
    {% endif %}
    {% for f in form %}
        {% if f.id_for_label == 'id_avatar' %}
            <p>
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
        {% else %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
        {% endif %}
    {% endfor %}

    <input type="hidden" name="form-action" value="change_user_text_info">
    <button type="submit">Підтвердити зміни</button>
</form>

<hr>
<p>Змінювати пароль <a href="{% url 'password_change' %}">тут</a></p>

{% endblock %}

{% block script %}
<!--<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>-->
<script>
    $('form').on('change', '#id_avatar', function() {
        var src = URL.createObjectURL(this.files[0]);
        $('#preview-image').attr('src', src);
    });

    /*$(document).ready(function() {
        $('.datepicker').datepicker();
    });*/
</script>
{% endblock %}