{% extends 'journal/base.html' %}
{% block main %}

<h1>Знайти людину</h1>

<form method="GET">
    <input type="text" name="q" placeholder="Регістр не враховується">
    <input type="submit" value="Пошук">
</form>

{% if results %}
<ul>
{% for element in results %}
    <li>{% if element.avatar %}<img src="{{ element.avatar.url }}" class="small-profile-image" >{% endif %}
        {{ element.get_name }} -> <a href="{{ element.get_absolute_url }}">Профіль</a></li>
{% endfor %}
</ul>
{% endif %}


{% endblock %}