{% extends 'journal/base.html' %}
{% load journal_tags %}
{% block main %}
<div class="info">
    <h1>{{ group_subject }} </h1>

    <h4>Викладач: {{ teacher_subject.teacher }}</h4>
</div>

<p>Lessons</p>
{% for lesson in lessons %}
<p>- {{ lesson }} {{ lesson.date }}</p>
{% endfor %}

{% if not students %}
<h1>You don't have any stundent</h1>
{% else %}
<table>
    {% csrf_token %}
    <tr>
        <th>№</th>
        <th>Student</th>
        {% for lesson in lessons %}
        <th>{{ lesson.date }}</th>
        {% endfor %}
    </tr>
    {% for student in students|enum %}
    <tr>
        <td>{{ student|id }}</td>
        <td>{{ student|name }}</td>
        {% for lesson in lessons %}
        <td>
            <input type="text" data-student-pk="{{ student|get_pk }}" data-lesson-pk="{{ lesson.pk }}">
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<button onclick="dropdown()">Add row</button>
{% endif %}
<hr>

<form id="form" method="POST" style="display: none; position: absolute; top: 0; right: 0; width: 33vw; background-color: gray; padding: 100px;">
    {% csrf_token %}

    {% for f in lesson_create_form %}
        <p>
            {% if f.id_for_label == 'id_teacher_subject' %}
            {% else %}
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
            {% endif %}
            {{ f }}
        </p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <input type="hidden" name="button" value="add_column">
    <button type="submit">Додати стовпчик</button>
</form>

{% if not other_students %}
<h1>Наразі немає студентів, яких можна додати</h1>
{% else %}
<form method="POST" style="float: left">
    {% csrf_token %}

    <div id="id_students">
        {% for student in other_students|enum %}
        <div>
            <label for="id_students_{{ student|id }}">
                <input type="checkbox" name="students" value="{{ student|get_pk }}" id="id_students_{{ student|id }}">
                {{ student|name }}
            </label>
        </div>
        {% endfor %}
    </div>

    <input type="hidden" name="button" value="add_student">
    <button type="submit">Додати студента(ів)</button>
</form>
{% endif %}

{% if students %}
<form method="POST" style="float: right">
    {% csrf_token %}

    <div id="id_student">
        {% for student in students|enum %}
        <div>
            <label for="pk_students_{{ student|id }}">
                <input type="checkbox" name="students" value="{{ student|get_pk }}" id="pk_students_{{ student|id }}">
                {{ student|name }}
            </label>
        </div>
        {% endfor %}
    </div>

    <input type="hidden" name="button" value="delete_student">
    <button type="submit">Видалити студента(ів)</button>
</form>
{% endif %}

<p id="pa">
</p>
{% endblock %}

{% block script %}
<script>
function dropdown()
{
    const form = document.getElementById("form");

    if (form.style.display == "block") {
        form.style.display = "none";
    } else {
        form.style.display = "block";
    }
}

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
//$(document).ready(function(){
    const table_csrf = $("table").find("input[name=csrfmiddlewaretoken]").val();

    $("td input").change(function() {
        $.ajax({
            url: '{{ journal }}',
            type: 'post',
            data: {
                csrfmiddlewaretoken: table_csrf,
                type: 'write down a mark',
                student_pk: $(this).attr('data-student-pk'),
                lesson_pk: $(this).attr('data-lesson-pk'),
                value: $(this).val(),
            },
            success: function(responce) {
                $("#pa").append(responce.data);
            }
        });
    });

    const list = {{ student_lesson_list|safe }}
    console.log(list, typeof list)
    for (let dict in list) {
        $("#pa").append(list[dict].student_pk+ ' ' + list[dict].lesson_pk+ ' ' + list[dict].mark + '|');
    }

//});
</script>
{% endblock %}