{% extends 'journal/base.html' %}

{% block main %}

<h1>Інформація</h1>

<div style="margin: 0 auto; max-width: 1000px">
<!--    <b>-->
    <br>
    Цей сайт створений для демонстрації моїх навичок в Back-end розробці. Front-end зроблений на скору руку.
<!--    <br><br>-->
<!--    Посилання на гітхаб репозиторій цього проекту: <a href="">посиланя</a>-->
    <br><br>
    Моделі студентів і викладачів виглядають по шаблону:<br>
    email - teacher@teacher3.com<br>
    password - teacher або student<br>
    через пошук в профілі можна подивитись пошту
<!--    </b>-->
    <br><br>
    Github (проект) - <a href="https://github.com/NackiE23/electronic-journal">посилання</a><br>
    Telegram - @dimasyk23 <br>
    Email - dimavarchuc@gmail.com <br>
</div>

{% endblock %}