{% extends 'journal/base.html' %}

{% block main %}
<ul style="list-style: none">
    <li>Аватар:
        {% if cur_user.avatar %}
            <li><img class="img-article-left" src="{{cur_user.avatar.url}}" width="350"></li>
        {% endif %}
    </li>
    <li>Ім'я - {{ cur_user.name }}</li>
    <li>Прізвище - {{ cur_user.surname }}</li>
    <li>По батькові - {{ cur_user.patronymic }}</li>
    <li>email - {{ cur_user.email }}</li>
    <li>Номер телефону - {{ cur_user.phone_number }}</li>
    <li>Роль у системі - {{ cur_user.role }}</li>
    <li>День народження - {{ cur_user.date_of_birth }}</li>
    <li>Про себе - {{ cur_user.about }}</li>
    {% if not guest %}
        <li><a href="{% url 'edit_profile' %}">Редагувати профіль</a></li>
    {% endif %}
</ul>
{% if cur_user != user %}
<hr>

<h1>Надіслати повідомлення</h1>
<form method="POST">
    {% csrf_token %}
    <p><label for="message-input">Повідомлення</label>
    <textarea id="message-input" name="message-text" placeholder="Повідомлення"></textarea></p>
    <input type="hidden" name="user_pk" value="{{user.pk}}">
    <input type="submit" value="Надіслати"/>
</form>
{% endif %}
<hr>
{% if cur_user.role == "Admin" %}
    <h1>It isn't your page. Your page is 127.0.0.1:8000/admin/</h1>

{% elif cur_user.role == "Teacher" %}
    <h1>Teacher</h1>
    <ul>
        <li>Куратор групи - <a href="{{ cur_user.teacher.group.get_absolute_url }}">{{ cur_user.teacher.group }}</a></li>
        {% for subject in subjects %}
            <li>{{ subject.group_subject.subject }} {{ subject.group_subject.group }}</li>
        {% endfor %}
    </ul>

{% elif cur_user.role == "Student" %}
    <h2>I'm a student!</h2>
    <ul>
        <li>Group - <a href="{{ cur_user.student.group.get_absolute_url }}">{{ cur_user.student.group }}</a></li>
    </ul>

{% else %}
    <h1>{{ cur_user }}</h1>
    <h2>Who am I?</h2>

{% endif %}


{% endblock %}