{% extends 'journal/base.html' %}

{% block main %}
{% if not guest %}
<div id="delete_avatar_form">
    <div class="confirmation">
        <div class="close"></div>
        <form method="POST">
            {% csrf_token %}
            <h2>Ви впевнені, що хочете видалити фото профілю?</h2>
            <input type="hidden" name="action" value="delete_avatar">
            <input type="submit" value="Видалити">
        </form>
    </div>
</div>
                
<div id="change_avatar_form">
    <div class="confirmation">
        <div class="close"></div>
        <div class="preview">
            Попередній перегляд: <br/>
            <img id="avatar-preview" src="" alt="Завантажте фото"/>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input class="customize_input" type="file" id="input_avatar_file" name="file"></p>
            <input type="hidden" name="action" value="change_avatar">
            <input type="submit" value="Змінити фото">
        </form>
    </div>
</div>
{% endif %}

<div class="profile">
    <div class="profile__main">
        <div class="profile__main_avatar">
            {% if cur_user.avatar %}
                <img class="profile__main_avatar_img" src="{{cur_user.avatar.url}}" alt="Щось пішло не так">            
                {% if not guest %}
                <div class="profile__main_avatar_options">
                    <button id="showChangeForm" class="profile__main_avatar_options_button">Змінити фото</button>
                    <button id="showDeleteForm" class="profile__main_avatar_options_button">Видалити фото профілю</button>
                </div>
                {% endif %}
            {% else %}
                {% if not guest %}
                    <button id="showChangeForm" class="profile__main_avatar_options_button">Додати фото</button>
                {% endif %}
            {% endif %}
        </div>
        <div class="profile__main_name">
            <p class="profile__main_name_text">
                {{ cur_user.get_name }}
            </p>
        </div>
    </div>

    <div class="profile__additional">
        <ul class="profile__additional_list" style="text-align: left">
            <li class="profile__additional_list_item">
                Email: {{ cur_user.email }}
            </li>
            <li class="profile__additional_list_item">
                Роль у системі: {% if cur_user.role == "Teacher"%}Викладач{%elif cur_user.role == "Student"%}Студент{%else%}Щось не зрозуміле{% endif %}
            </li>
            {% if cur_user.role == "Teacher" %}
                <li class="profile__additional_list_item">
                    Куратор групи - 
                        <a class="profile__additional_list_item_link" href="{{ cur_user.teacher.group.get_absolute_url }}">{{ cur_user.teacher.group }}</a></li>
                </li>
                <li class="profile__additional_list_item">
                    <ol class="profile__additional_list_item_sublist">Предмети, які викладає:
                        {% for subject in subjects %}
                            <li class="profile__additional_list_item_sublist_item">{{ subject.group_subject.subject }} {{ subject.group_subject.group }}</li>
                        {% endfor %}
                    </ol>
                </li>             
            {% elif cur_user.role == "Student" %}
                <li class="profile__additional_list_item">
                    Група - 
                        <a class="profile__additional_list_item_link" href="{{ cur_user.student.group.get_absolute_url }}">{{ cur_user.student.group }}</a>
                </li>
                <li class="profile__additional_list_item">
                    Форма навчання: {{ cur_user.student.study_form }}
                </li>
            {% endif %}
            {% if guest %}
                <li class="profile__additional_list_item">
                    <textarea class="profile__additional_list_item_textarea" disabled>{{ cur_user.about }}</textarea>
                </li>
            {% else %}
                <li class="profile__additional_list_item">
                    {% csrf_token %}
                    <textarea id="about_field" class="profile__additional_list_item_textarea" placeholder="Додаткова інформація">{{ cur_user.about }}</textarea>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% if guest %}
<div class="send_message">
    <h1 class="send_message__header">Надіслати повідомлення</h1>
    <form method="POST" class="send_message__form">
        {% csrf_token %}
        <textarea id="message-input" name="message-text" placeholder="Повідомлення"></textarea></p>
        <input type="hidden" name="action" value="send_message">
        <input type="hidden" name="user_pk" value="{{user.pk}}">
        <input class="send_message__form_submit" type="submit" value="Надіслати"/>
    </form>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    $('#showDeleteForm').click(function() {
        $('#delete_avatar_form .confirmation').fadeIn('fast');
    });

    $('#showChangeForm').click(function() {
        $('#change_avatar_form .confirmation').fadeIn('fast');
    });

    $('form').on('change', '#input_avatar_file', function() {
        var src = URL.createObjectURL(this.files[0]);
        $('#avatar-preview').attr('src', src);
    });

    $("#about_field").change(function() {
        let csrf = $(this).parent().find("input[name=csrfmiddlewaretoken]").val();
        let input_text = $(this).val();

        $.ajax({
            url: '',
            type: 'post',
            data: {
                csrfmiddlewaretoken: csrf,
                action: 'change_additional_field',
                input_text: input_text,
            },
            success: function(responce) {
                showMessage("Поле було успішно змінено");
            }
        });
    });
</script>
{% endblock %}