{% extends 'journal/base.html' %}
{% load dict_filters %}
{% block main %}
<h1>{{ st_pk }}</h1>

<div id="lesson_info" style="background-color: #c4c4c4; border: 1px solid black;">
    <h1><span id="lesson-info-teacher_subject">Предмет</span></h1>
    <p>Останнє оновлення: <span id="lesson-info-last_update">-</span></p>
    <p>Дата проведення пари: <span id="lesson-info-date">-</span></p>
    <p>Тема: <span id="lesson-info-topic">-</span></p>
    <p>Домашнє завдання: <span id="lesson-info-homework">-</span></p>
    <p>Примітка: <span id="lesson-info-note">-</span></p>
    <p>Тип: <span id="lesson-info-type">-</span></p>
</div>

{% for subject in subjects %}
<h3><a href="{{ subject.teacher_subject.teacher.user.get_absolute_url }}">{{ subject.teacher_subject.teacher.user.get_name }}</a> - {{ subject.teacher_subject.group_subject.subject }}</h3>
    <table>
        {% csrf_token %}
        <colgroup>
            <col>
            <col>
            {% for lesson in subject.lessons %}
                <col class="{{ lesson.type.slug }}">
            {% endfor %}
        </colgroup>
        <tr>
            <th>№</th>
            <th>Студент</th>
            {% for lesson in subject.lessons %}
                <th class="lesson_date" id="lesson{{ lesson.pk }}" data-lesson-pk="{{ lesson.pk }}" style="position: relative;">
                    <span>{{ lesson.date | date:"d" }}</span>
                </th>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ subject.sequence_number }}</td>
            <td>{{ student }}</td>
            {% for lesson in subject.lessons %}
                <td>
                    {% for student_lesson in subject.student_lessons %}
                        {% if lesson.pk == student_lesson.lesson.pk %}
                            {{ student_lesson.mark }}
                        {% endif %}
                    {% endfor%}
                </td>
            {% endfor %}
        </tr>
    </table>
    <div class="pagination">
        <nav>
            <ul>
                |
                {% for p in subject.lessons.paginator.page_range %}
                    {% if subject.lessons.number == p %}
                        <li style="display: inline">
                            {{ p }} |
                        </li>
                    {% else %}
                        <li style="display: inline">
                            <a href="?{{ subject.page }}={{ p }}">{{ p }}</a> |
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
<hr>
{% endfor %}

{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    const months = {{ months|safe }};
    for (let i in months) {
        $(`#lesson${i}`).attr('data-content', months[i]);
    }

    const table_csrf = $("table").find("input[name=csrfmiddlewaretoken]").val();
    $(".lesson_date span").click(function() {
        let lesson_pk = $(this).parent().attr('data-lesson-pk')
        $.ajax({
            url: '',
            type: 'post',
            data: {
                csrfmiddlewaretoken: table_csrf,
                type: 'get_lesson_info',
                lesson_pk: lesson_pk,
            },
            success: function(responce) {
                $('#lesson-info-teacher_subject').html(responce.teacher + " " + responce.subject);
                $('#lesson-info-last_update').html(responce.last_update);
                $('#lesson-info-date').html(responce.date);
                $('#lesson-info-topic').html(responce.topic);
                $('#lesson-info-homework').html(responce.homework);
                $('#lesson-info-note').html(responce.note);
                $('#lesson-info-type').html(responce.type);
                $("#lesson_info").show();
            }
        });
    });
});
</script>
{% endblock %}