{% extends 'journal/base.html' %}
{% load journal_tags %}
{% block main %}
<div class="filters">
    <button class="openForm" data-class="delete_students_form">Видалити студента(ів) зі списку</button>
    <button class="openForm" data-class="add_students_form">Додати студента(ів) до списку</button>
    <button class="openForm" data-class="permission_form">Додати доступ до журналу</button>
</div>

<div class="form_wrapper">
    <div class="permission_form form">
        <div class="close"></div>
        {% if other_teachers %}
        <form method="post">
            {% csrf_token %}
            <h3>
                Доступ до журналу
            </h3>
            <p>
                <label for="teacher-select-input">Викладач: </label>
                <input type="text" id="teacher-select-input" name="teacher-select-input" list="teachers">
                <datalist id="teachers">
                    {% for teacher in other_teachers %}
                    <option value="{{ teacher }}" data-pk="{{ teacher.pk }}">{{ teacher }}</option>
                    {% endfor %}
                </datalist>
            </p>
            <p>
                <label for="up-to-date-input">До: </label>
                <input id="up-to-date-input" type="date" name="up-to-date-input">
            </p>
            <input type="hidden" id="selected_teacher" name="selected_teacher" value="">
            <input type="hidden" name="button" value="allow_teacher">
            <input type="submit" value="Додати доступ">
        </form>
        {% else %}
        <p><b>Немає вчителів, якім ви б могли надати доступ</b></p>
        {% endif %}
    </div>
</div>

{% if not students %}
<h1>Не додано жодного студента</h1>
{% else %}
<div class="tr_journal">
    <div class="info">
        <h1>{{ group_subject }}</h1>
        <h4>Система оцінювання: {{ teacher_subject.group_subject.subject.evaluation_system.name }}</h4>
    </div>
    
    <div class="tr_journal__journal_wrapper">
        <table class="tr_journal__journal">
            {% csrf_token %}
            <colgroup>
                <col>
                <col>
                {% for lesson in lessons %}
                    <col class="{{ lesson.type.slug }}">
                {% endfor %}
            </colgroup>
            <tr class="tr_journal__journal_row journal_row">
                <th class="journal__cell journal_header">№</th>
                <th class="journal__cell journal_header journal__cell_name">Студент</th>
                {% for lesson in lessons %}
                    <th class="journal__cell journal_header lesson_date" id="lesson{{ lesson.pk }}" data-lesson-pk="{{ lesson.pk }}" style="position: relative;">
                        <span class='journal__cell_month'>{{ lesson.date | date:"d" }}</span>
                    </th>
                {% endfor %}
            </tr>
            {% for student in students|enum %}
            <tr class="tr_journal__journal_row journal_row">
                <td class="journal__cell journal__cell">{{ student|id }}</td>
                <td class="journal__cell journal__cell_name">{{ student|name }}</td>
                {% for lesson in lessons %}
                    <td class="journal__cell">
                        <input id="input-{{ student|get_pk }}{{ lesson.pk }}" class="journal__cell_input" type="text" data-student-pk="{{ student|get_pk }}" data-lesson-pk="{{ lesson.pk }}">
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="journal__pages">
        <ul class="journal__pages_list">
        {% for p in lessons.paginator.page_range %}
            {% if lessons.number == p %}
                <li class="journal__pages_list_item journal__pages_list_item_current">
                    {{ p }}
                </li>
            {% else %}
                <a class="journal__pages_list_item_link" href="?page={{ p }}">
                    <li class="journal__pages_list_item">
                        {{ p }}
                    </li>
                </a>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <button id="add_row_button">Додати стовпчик</button>
</div>
{% endif %}

<div class="lesson_update_wrapper">
<div id="lesson_update" class="form lesson_update">
    <div class="close"></div>
    {{ lesson_update_form.as_p }}
    <form id="lesson_update__update_form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="button" value="submit_changes">
        <input type="submit" name="submit" value="Підтвердити зміни">
    </form>

    <button class="showDeleteForm" type="submit" name="delete">Видалити урок</button>

    <div class="confirmation" style="color: #212121;">
        <div class="close"></div>
        <form method="POST">
            {% csrf_token %}
            <p>Ви впевнені, що хочете видалити пару?</p>
            <input type="hidden" name="lesson_pk">
            <input type="hidden" name="button" value="delete_lesson">
            <input type="submit" name="submit" value="Видалити">
        </form>
    </div>
</div>
</div>

<div class="lesson_create_wrapper">
<div id="lesson_create" class="form lesson_create">
    <div class="close"></div>
    <form id="form" method="POST">
        {% csrf_token %}

        {% for f in lesson_create_form %}
            <p>
                {% if f.id_for_label == 'id_teacher_subject' %}
                {% else %}
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {% endif %}
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <input type="hidden" name="button" value="add_column">
        <button type="submit">Додати стовпчик</button>
    </form>
</div>
</div>

<div class="form_wrapper">
    <div class="form add_students_form">
        <div class="close"></div>
        {% if not other_students %}
            <h1>Наразі немає студентів, яких можна додати</h1>
        {% else %}
            <form method="POST">
                {% csrf_token %}

                <div id="id_students">
                    <ul class="student_list">
                        <li>
                            <label for="select_all">
                                <input type="checkbox" id="select_all">
                                Обрати всіх
                            </label>
                        </li>
                    {% for student in other_students|enum %}
                        <li>
                            <label for="id_students_{{ student|id }}">
                                <input type="checkbox" name="students" value="{{ student|get_pk }}" id="id_students_{{ student|id }}">
                                {{ student|name }}
                            </label>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <input type="hidden" name="button" value="add_student">
                <button type="submit">Додати студента(ів)</button>
            </form>
        {% endif %}
    </div>
</div>

<div class="form_wrapper">
    <div class="form delete_students_form">
        <div class="close"></div>
        {% if students %}
            <form method="POST">
                {% csrf_token %}

                <div id="id_student">
                    <ul class="student_list">
                        <li>
                            <label for="all">
                                <input type="checkbox" id="all">
                                Обрати всіх
                            </label>
                        </li>
                    {% for student in students|enum %}
                        <li>
                            <label for="pk_students_{{ student|id }}">
                                <input type="checkbox" name="students" value="{{ student|get_pk }}" id="pk_students_{{ student|id }}">
                                {{ student|name }}
                            </label>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <input type="hidden" name="button" value="delete_student">
                <button type="submit">Видалити студента(ів)</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
    var yyyy = today.getFullYear();
    if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm}
    today = yyyy+'-'+mm+'-'+dd;
    $('#up-to-date-input').attr('min', today);

    const table_csrf = $("table").find("input[name=csrfmiddlewaretoken]").val();

    $(".lesson_date span").click(function() {
        $("#lesson_update").hide();
        let lesson_pk = $(this).parent().attr('data-lesson-pk')
        $.ajax({
            url: '',
            type: 'post',
            data: {
                csrfmiddlewaretoken: table_csrf,
                type: 'get lesson info',
                lesson_pk: lesson_pk,
            },
            success: function(responce) {
                $('#lesson_update input[name="date"]').val(responce.date);
                $('#lesson_update input[name="topic"]').val(responce.topic);
                $('#lesson_update input[name="homework"]').val(responce.homework);
                $('#lesson_update input[name="note"]').val(responce.note);
                $('#lesson_update input[name="lesson_pk"]').val(lesson_pk);
                $(`#lesson_update select option[value=${responce.type_pk}]`).prop("selected", true);
                $("#lesson_update").fadeIn('fast');
            }
        });
    });

    $('.showDeleteForm').click(function() {
        $(this).parent().find('.confirmation').fadeIn('fast');
    });

    $("#lesson_update input, #lesson_update select").change(function() {
        $.ajax({
            url: '',
            type: 'post',
            data: {
                csrfmiddlewaretoken: table_csrf,
                type: 'change_lesson',
                lesson_pk: $("#lesson_update form input[name='lesson_pk']").val(),
                field: $(this).attr('name'),
                value: $(this).val(),
            },
            success: function(responce) {
                showMessage(responce.data);
            }
        });
    });

    $("#add_row_button").click(function() {
        closeAllForms();
        $("#lesson_create").fadeToggle('fast');
    });

    $("td input").change(function() {
        let input_id = $(this).attr('id');
        $.ajax({
            url: '',
            type: 'post',
            data: {
                csrfmiddlewaretoken: table_csrf,
                type: 'write down a mark',
                student_pk: $(this).attr('data-student-pk'),
                lesson_pk: $(this).attr('data-lesson-pk'),
                value: $(this).val(),
            },
            success: function(responce) {
                if (responce.error === true) {
                    showMessage(responce.data, 'error', 5000);
                    $(`#${input_id}`).addClass("incorrect_input");
                    $(`#${input_id}`).parent().addClass("incorrect_td");
                } else {
                    $(`#${input_id}`).removeClass("incorrect_input");
                    $(`#${input_id}`).parent().removeClass("incorrect_td");
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: " + textStatus); alert("Error: " + errorThrown);
            }
        });
    });

    $('#teacher-select-input').focusout(function(){
        let pk = $(`#teachers option[value='${$(this).val()}']`).attr('data-pk');
        $('#selected_teacher').val(pk);
    });

    $('#select_all, #all').click(function() {
        $(this).parents('.student_list').find('input[type="checkbox"]').prop('checked', this.checked);
    });

    const stl_list = {{ student_lesson_list|safe }};
    console.log(stl_list.length, stl_list, typeof stl_list);
    for (let i in stl_list) {
        $(`#input-${stl_list[i].input_id}`).val(stl_list[i].mark);
    }

    const months = {{ months|safe }};
    console.log(months, typeof months);
    for (let i in months) {
        $(`#lesson${i}`).addClass('month').attr('data-content', months[i]);
    }


    $('.journal__cell').hover(function() {
        var t = parseInt($(this).index()) + 1;
        $(`td:nth-child(${t}), th:nth-child(${t})`).addClass('highlighted');
    },
    function() {
        var t = parseInt($(this).index()) + 1;
        $(`td:nth-child(${t}), th:nth-child(${t})`).removeClass('highlighted');
    });
});
</script>
{% endblock %}