{% extends 'journal/base.html' %}
{% load journal_tags %}
{% block main %}

<div class="filters">
    <button class="openForm" data-class="journal_create">Створити новий журнал</button>
</div>

<div class="form_wrapper">
    <div class="form journal_create">
        <div class="close"></div>
        <form method="POST">
            {% csrf_token %}
            {{ journal_create_form.as_p }}
            <datalist id="group_list">
                {% for group in group_list %}
                <option value="{{ group }}">
                {% endfor %}
            </datalist>
            <datalist id="subject_list">
                {% for subject in subject_list %}
                <option value="{{ subject }}">
                {% endfor %}
            </datalist>
            <input type="hidden" name="group_name" value="">
            <input type="hidden" name="subject_name" value="">
            <input type="hidden" name="action" value="create_journal">
            <input type="submit" value="Створити журнал">
        </form>
    </div>
</div>

<div class="journal_list">
    {% for subj, info in subjects %}
    <div class="journal_list__item">
            <div class="journal_list__item_name">
                <b>{{ subj }}</b>
            </div>
            <ul class="journal_list__item_groups">
                {% for el in info %}
                    <li class="journal_list__item_groups_group">
                        <a class="journal_list__item_groups_group_name" href="{% url 'teacher_journal' el.teacher_pk el.group_subject.group.slug el.group_subject.subject.slug %}">{{ el.group_subject.group }}</a>
                    </li>
                {% endfor %}
            </ul>
    </div>
    {% endfor %}
</div>

{% if replacements %}
<h3>Заміни</h3>
<div class="journal_list">
    {% for subj, info in replacements %}
    <div class="journal_list__item">
            <div class="journal_list__item_name">
                <b>{{ subj }}</b>
            </div>
            <ul class="journal_list__item_groups">
                {% for el in info %}
                    <li class="journal_list__item_groups_group">
                        <a class="journal_list__item_groups_group_name" href="{% url 'teacher_journal' el.teacher_pk el.group_subject.group.slug el.group_subject.subject.slug %}">{{ el.group_subject.group }}({{ el.time }})</a>
                    </li>
                {% endfor %}
            </ul>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    $('#id_group').change(function() {
        $('input[name=group_name]').val($(this).val());
    });

    $('#id_subject').change(function() {
        $('input[name=subject_name]').val($(this).val());
    });
</script>
{% endblock %}