{% extends 'journal/base.html' %}
{% load journal_tags %}
{% block main %}
<div>
    <form method="post">
        {% csrf_token %}

        <p>
            <label for="teacher-select-input">Викладач: </label>
            <select id="teacher-select-input" name="teacher-select-input">
                {% for teacher in other_teachers %}
                    <option value="{{ teacher.pk }}">{{ teacher }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="up-to-date-input">До: </label>
            <input id="up-to-date-input" type="date" name="up-to-date-input">
        </p>
        <input type="hidden" name="button" value="allow_teacher">
        <input type="submit" value="Додати доступ">
    </form>
</div>

<div class="info">
    <h1>{{ group_subject }}</h1>

    <h4>Викладач: {{ teacher_subject.teacher }}</h4>
</div>

{% if not students %}
<h1>You don't have any stundent</h1>
{% else %}
<table>
    {% csrf_token %}
    <tr>
        <th>№</th>
        <th>Студент</th>
        {% for lesson in lessons %}
        <th id="lesson{{ lesson.pk }}" data-lesson-pk="{{ lesson.pk }}" style="position: relative;">
            {{ lesson.date | date:"d" }}
            <button class="activate_lesson_update_form">Змінити</button>
        </th>
        {% endfor %}
    </tr>
    {% for student in students|enum %}
    <tr>
        <td>{{ student|id }}</td>
        <td>{{ student|name }}</td>
        {% for lesson in lessons %}
        <td>
            <input type="text" data-student-pk="{{ student|get_pk }}" data-lesson-pk="{{ lesson.pk }}">
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<button id="add_row_button">Додати стовпчик</button>
{% endif %}
<hr>

<div id="lesson_update" style="display: none; position: absolute; top: 0; left: 0; background-color: gray; padding: 100px;">
    {{ lesson_update_form.as_p }}
    <form id="lesson_update__update_form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="lesson_pk">
        <input type="hidden" name="button" value="delete_lesson">
        <button type="submit" name="delete" style="background-color: black; border-color: black; color: white;">Видалити урок</button>
    </form>
</div>

<form id="form" method="POST" style="display: none; position: absolute; top: 0; right: 0; width: 33vw; background-color: gray; padding: 100px;">
    {% csrf_token %}

    {% for f in lesson_create_form %}
        <p>
            {% if f.id_for_label == 'id_teacher_subject' %}
            {% else %}
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
            {% endif %}
            {{ f }}
        </p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <input type="hidden" name="button" value="add_column">
    <button type="submit">Додати стовпчик</button>
</form>

{% if not other_students %}
<h1>Наразі немає студентів, яких можна додати</h1>
{% else %}
<form method="POST" style="float: left">
    {% csrf_token %}

    <div id="id_students">
        {% for student in other_students|enum %}
        <div>
            <label for="id_students_{{ student|id }}">
                <input type="checkbox" name="students" value="{{ student|get_pk }}" id="id_students_{{ student|id }}">
                {{ student|name }}
            </label>
        </div>
        {% endfor %}
    </div>

    <input type="hidden" name="button" value="add_student">
    <button type="submit">Додати студента(ів)</button>
</form>
{% endif %}

{% if students %}
<form method="POST" style="float: right">
    {% csrf_token %}

    <div id="id_student">
        {% for student in students|enum %}
        <div>
            <label for="pk_students_{{ student|id }}">
                <input type="checkbox" name="students" value="{{ student|get_pk }}" id="pk_students_{{ student|id }}">
                {{ student|name }}
            </label>
        </div>
        {% endfor %}
    </div>

    <input type="hidden" name="button" value="delete_student">
    <button type="submit">Видалити студента(ів)</button>
</form>
{% endif %}

<p id="additional">{{ lesson_date }}</p>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
    var yyyy = today.getFullYear();
    if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm}
    today = yyyy+'-'+mm+'-'+dd;
    $('#up-to-date-input').attr('min', today);

    const table_csrf = $("table").find("input[name=csrfmiddlewaretoken]").val();

    $(".activate_lesson_update_form").click(function() {
        $("#lesson_update").hide();
        let lesson_pk = $(this).parent().attr('data-lesson-pk')
        $.ajax({
            url: '',
            type: 'post',
            data: {
                csrfmiddlewaretoken: table_csrf,
                type: 'get lesson info',
                lesson_pk: lesson_pk,
            },
            success: function(responce) {
                $('#lesson_update input[name="topic"]').val(responce.topic);
                $('#lesson_update input[name="homework"]').val(responce.homework);
                $('#lesson_update input[name="note"]').val(responce.note);
                $('#lesson_update input[name="lesson_pk"]').val(lesson_pk);
                $(`#lesson_update select option[value=${responce.type_pk}]`).prop("selected", true);
                $("#lesson_update").show();
            }
        });
    });

    $("#lesson_update input, #lesson_update select").change(function() {
        $.ajax({
            url: '',
            type: 'post',
            data: {
                csrfmiddlewaretoken: table_csrf,
                type: 'change_lesson',
                lesson_pk: $("#lesson_update form input[name='lesson_pk']").val(),
                name: $(this).attr('name'),
                value: $(this).val(),
            },
            success: function(responce) {
                $("#additional").append(responce.message);
            }
        });
    });

    $("#add_row_button").click(function() {
        $("#form").toggle();
    });

    $("td input").change(function() {
        $.ajax({
            url: '',
            type: 'post',
            data: {
                csrfmiddlewaretoken: table_csrf,
                type: 'write down a mark',
                student_pk: $(this).attr('data-student-pk'),
                lesson_pk: $(this).attr('data-lesson-pk'),
                value: $(this).val(),
            },
            success: function(responce) {
                $("#additional").append(responce.data + "<br>");
            }
        });
    });

    const stl_list = {{ student_lesson_list|safe }};
    console.log(stl_list, typeof stl_list);
    for (let i in stl_list) {
        $(`input[data-student-pk=${stl_list[i].student_pk}][data-lesson-pk=${stl_list[i].lesson_pk}]`).val(stl_list[i].mark);
    }

    const months = {{ months|safe }};
    console.log(months, typeof months);
    for (let i in months) {
        $(`#lesson${i}`).addClass('month').attr('data-content', months[i]);
    }

});
</script>
{% endblock %}