{% extends 'journal/base.html' %}

{% block main %}


<div class="journal_list">
    <div class="journal_list__item">
        <div class="journal_list__item_name">
            <b>Предмет</b>
        </div>
        <ul class="journal_list__item_groups">
            <li class="journal_list__item_groups_group">
                <a class="journal_list__item_groups_group_name" href="#">Група 1</a>
            </li>
            <li class="journal_list__item_groups_group">
                <a class="journal_list__item_groups_group_name" href="#">Група 2</a>
            </li>
            <li class="journal_list__item_groups_group">
                <a class="journal_list__item_groups_group_name" href="#">Група 3</a>
            </li>
            <li class="journal_list__item_groups_group">
                <a class="journal_list__item_groups_group_name" href="#">Група 4</a>
            </li>
        </ul>
    </div>
</div>
<br>
<hr>
<br>
<ol>
{% for teacher_subject in teacher_subjects %}
    <li>{{ teacher_subject.group_subject }}
        <a href="{% url 'teacher_journal' teacher_subject.teacher.pk teacher_subject.group_subject.group.slug teacher_subject.group_subject.subject.slug %}">Посилання</a>
    </li>
{% endfor %}

{% if replacements %}
<h5>Заміни:</h5>
{% for replacement in replacements %}
    <li>{{ replacement.teacher_subject.group_subject }} (до {{ replacement.date_to }})
        <a href="{% url 'teacher_journal' replacement.teacher_subject.teacher.pk replacement.teacher_subject.group_subject.group.slug replacement.teacher_subject.group_subject.subject.slug %}">Посилання</a>
    </li>
{% endfor %}
{% endif %}
</ol>
{% endblock %}